body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin-top: 30px;
    position: relative;
    
}

.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.btn{
    background-color: rgb(80, 79, 79);
    padding: 5px;
    border-radius: 10px;
    color: white;
    user-select: none;
}

.input_p{
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
    
}
