@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
table {
    border: 2px solid black;
    width: 1320px;
    height: 120px;
}
td, th, tr {
border: 2px solid black;
}
h2 {
    text-align: center;
}
body { 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,13,140,1) 37%, rgba(160,144,181,1) 100%);
}
h2:hover {
    color: white;
}
td:hover {
    width: 40px;
    height: 50px;
}
th {
    width: 40px;
}
th:hover {
    width: 40px;
    height: 50px;
}
tr:hover {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
body {
    font-family: 'Montserrat', sans-serif;
}