
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}


.container{
    width: 100%;
}
.header-inner{
    background-color: rgb(27, 27, 27);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold ;
}
.links{
    display: flex;
    align-items: center;  
}
.link{
    margin: 0 10px;
    font-size: 12px;
}

.main-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
.main-left{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.header-text{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
    
}
.center-text{
    font-weight:400;
}
.bottom-text{
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:30px;
}
.cards{
    display: flex;
    flex-wrap:wrap;
    
    flex-direction: row;
    width: 100%;
}
.card{
    width:30%;
    margin-right: 30px;
    margin-bottom: 10px;
    border: 3px solid rgb(27, 27, 27)   ;
}
.card-top{
    background-color: rgb(27, 27, 27);
    color: white;
}
.main-right{
    background-color: rgb(27, 27, 27);
    color: white;
    padding-top: 20px;
    width: 40%;
    padding-left: 30px;
}
@media (max-width:1200px){
    .website{
        font-size: 30px;
    }
    .link{
        font-size:20px;
    }
    .main-left{
        width: 100%;
    }
    .main-right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:480px){
    .website{
        font-size: 40px;
    }
    .link{
        font-size:20px;
    }
    .header-inner{
        height: 100px;
    }
    .card{
        width:100%;
    }
}
@media (max-width:767px){
    .website{
        font-size: 35px;
    }
    .link{
        font-size:23px;
    }
    .header-inner{
        height: 70px;
    }
    .card{
        width: 50%;
    }
}
@media(min-width:768px) and (max-width:979px){
    .website{
        font-size: 30px;
    }
    .link{
        font-size:20px;
    }
    .header-inner{
        height: 50px;
    }
    
}
@media(min-width:980px){
    .website{
        font-size: 40px;
    }
    .link{
        font-size:20px;
    }
    .header-inner{
        height: 40px;
    }
    
}