@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@600&display=swap');

body{
    margin: 0;
    color: white;
    font-family: 'M PLUS 2', sans-serif;
    
}



.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}
    
.div1 { grid-area: 1 / 1 / 4 / 3; color: black;  }
.div2 { grid-area: 1 / 3 / 3 / 4; background-color: rgb(38, 0, 255);}
.div3 { grid-area: 3 / 3 / 4 / 5; background-color: rgb(255, 10, 10); }
.div4 { grid-area: 1 / 4 / 2 / 5; background-color: rgb(90, 206, 79);}
.div5 { grid-area: 2 / 4 / 3 / 5; background-color: rgb(252, 214, 0);}

h4{
    margin-top: 50px;
}


.div2, .div3, .div4, .div5, .div1{
    font-size: 13px;
    padding: 10px;
    transition: 0.5s;
}
.div2:hover, .div3:hover, .div4:hover, .div5:hover, .div1:hover{
    padding: 30px;
}
