
.container{
    max-width: 1200px;
}

.card-title{
    border-radius: 30px;
    background-color: rgb(255, 251, 0);
    width: 27%;
    height: 20px;
    font-size:medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    width: 100%;
    color: rgb(128, 100, 100);
    text-transform: uppercase;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hover{
    transition: 0.1s;
}
